
<header class="header">
  <mat-toolbar color="owlYellow">
    <span>DEMO TEST</span>
    <span class="spacer"></span>
    <button mat-icon-button [routerLink]="'/app-login'">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
</header>

<div class="homePageBackground">
  <form onsubmit="return false;" class="inputForm">
    <h2 class="title">Please input keyword and text.</h2>
    <mat-form-field class="inputField">
      <input matInput
             placeholder="Input keyword !"
             name="keyword"
             #keyword
             (keydown.enter)="inputTextFocus()">
    </mat-form-field>
    <mat-form-field class="inputField">
      <mat-label>Input Text !</mat-label>
      <input matInput
             id="text"
             #text
             (keydown.enter)="inputText(keyword.value, text.value)">
    </mat-form-field>
    <mat-progress-bar mode="buffer"></mat-progress-bar>

  </form>

  <form onsubmit="return false;" class="inputForm">
    <h2 class="title">Please input keyword.</h2>
    <mat-form-field>
      <mat-label>Input keyword !</mat-label>
      <input matInput
             #inputKeyWord
             (keydown.enter)="getText(inputKeyWord.value)">
    </mat-form-field>
  </form>
  <h1>{{getTextReference}}</h1>
  <mat-progress-bar mode="buffer"></mat-progress-bar>
</div>

