.header{
  max-width: 90%;
  margin-top: 16px;
  margin-right: auto;
  margin-left: auto;
}
.homePageBackground {
  max-width: 87%;
  margin-right: auto;
  margin-left: auto;
  background-color: #CDC2B8;
}
.toolbar{
  color: black;
}
.spacer { flex: 1 1 auto }
.inputForm{
  margin-top: 32px;
}
.inputField{
  margin-right: 10px;
}
.title{
  font-family: Impact;
}
.label{
  color: blue;
}
