.header{
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  background-color: #FFDE03;
}
.homePageBackground {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}
.spacer { flex: 0.93 1 auto }

.changeButton{
  text-align: right;
}
